@sidebar-color :#eeeeeD;
@sidebar-bg-color:#616161;

#sidebar {
    width: 200px;
   
    color: @sidebar-color;
    background-color:@sidebar-bg-color ;
    min-height: 100%;
 
}
.navigation-menu {
 
    text-align: center;
    display: block;
}

.navigation-menu li.nav-item {
    padding: 15px 0px;
    cursor: pointer;
    outline: none;
}

#user-profile {
    padding: 15px 0px;
    text-align: center;
}


#user-details {
    line-height: normal;
}

.navigation-menu li.nav-item:hover,.navigation-menu li.nav-item.is-active
{
color: @sidebar-bg-color;
background-color: @sidebar-color;
}
.navigation-menu > li.nav-item > a{
    
    cursor: pointer;
}

