<div class="continer-fuild">
    <form [formGroup]="userForm">
        <div class="row justify-content-end">
            <div class="col-4 cancel-row">
                <button class="btn btn-danger" (click)="defaultpage()">Cancel</button>
            </div>

        </div>
        <div class="row">
            <div class="col-8">
                <div class="row user-image-row text-center">
                    <div class="col-12 user-image-col">
                        <img class="img-circle " [src]="imageUrl" />
                    </div><br>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="FirstName"
                        [class.invalidField]="userForm.controls['firstName'].invalid && (userForm.controls['firstName'].touched || userForm.controls['firstName'].dirty ) ">First
                        Name</label><em>* </em>
                    <input type="text" class="form-control input-lg" id="FirstName" placeholder="FirstName"
                        formControlName="firstName">
                    <div
                        *ngIf="userForm.controls['firstName'].invalid && (userForm.controls['firstName'].touched || userForm.controls['firstName'].dirty )">
                        <em *ngIf="userForm.controls['firstName'].errors?.required">FirstName is required!!!</em>
                    </div>
                </div>

                <div class="form-group">
                    <label for="UserName"
                        [class.invalidField]="userForm.controls['userName'].invalid && (userForm.controls['userName'].touched || userForm.controls['userName'].dirty ) ">User
                        Name</label><b>* &nbsp; {{userNameExists.message}}</b>
                    <div class="username-group">
                        <input type="text" class="form-control input-lg username" id="UserName" placeholder="UserName"
                            formControlName="userName">
                        <div class="check-btn" [hidden]="userNameExists?.show"><button
                                class="check-available btn btn-primary btn-sm" (click)="userNameExistCheck()"
                                [disabled]="userNameExists.checkavailability"
                                [class.button-disable]="userNameExists.checkavailability">check
                                availablity</button></div>
                    </div>
                    <div
                        *ngIf="userForm.controls['userName'].invalid && (userForm.controls['userName'].touched || userForm.controls['userName'].dirty )">
                        <em *ngIf="userForm.controls['userName'].errors?.required">UserName is required!!!</em>
                    </div>
                </div>


                <div class="form-group">

                    <label for="E-mail"
                        [class.invalidField]="userForm.controls['email'].invalid && (userForm.controls['email'].touched || userForm.controls['email'].dirty ) ">E-mail</label><em>*</em>
                    <input type="email" class="form-control input-lg" id="E-mail" placeholder="E-mail"
                        formControlName="email" email=true>
                    <div
                        *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].touched || userForm.controls['email'].dirty )">
                        <em *ngIf="userForm.controls['email'].errors?.required">Email is required!!!</em>
                        <em *ngIf="userForm.controls['email'].errors.email">Invalid email format!!!</em>
                    </div>
                </div>


                <div class="form-group">
                    <label for="gendergroup"
                        [class.invalidField]="userForm.controls['genderTypeKey'].invalid && (userForm.controls['genderTypeKey'].touched || userForm.controls['genderTypeKey'].dirty )">Gender</label><em>*</em>
                    <select class="form-control" formControlName="genderTypeKey" size="1">
                        <option value=""> --Select one Gender--</option>
                        <option *ngFor="let gender of genderList" value="{{gender.genderTypeKey}}">
                            {{gender.genderType}}
                        </option>
                    </select>
                    <div
                        *ngIf="userForm.controls['genderTypeKey'].invalid && (userForm.controls['genderTypeKey'].touched || userForm.controls['genderTypeKey'].dirty )">
                        <em *ngIf="userForm.controls['genderTypeKey'].errors?.required">Gender is required!!!</em>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="LastName"
                        [class.invalidField]="userForm.controls['lastName'].invalid && (userForm.controls['lastName'].touched || userForm.controls['lastName'].dirty )">Last
                        Name</label><em>*</em>
                    <input type="text" class="form-control input-lg" id="LastName" placeholder="LastName"
                        formControlName="lastName">

                    <div
                        *ngIf="userForm.controls['lastName'].invalid && (userForm.controls['lastName'].touched || userForm.controls['lastName'].dirty )">
                        <em *ngIf="userForm.controls['lastName'].errors?.required">LastName is required!!!</em>
                    </div>
                </div>
                <div class="form-group">
                    <label for="PhoneNumber"
                        [class.invalidField]="userForm.controls['phoneNumber'].invalid && (userForm.controls['phoneNumber'].touched || userForm.controls['phoneNumber'].dirty ) ">Phone
                        Number</label><em>*</em>
                    <input type="text" class="form-control input-lg" id="PhoneNumber" placeholder="PhoneNumber"
                        formControlName="phoneNumber">

                    <div
                        *ngIf="userForm.controls['phoneNumber'].invalid && (userForm.controls['phoneNumber'].touched || userForm.controls['phoneNumber'].dirty )">
                        <em *ngIf="userForm.controls['phoneNumber'].errors?.required">PhoneNumber is required!!!</em>
                        <em *ngIf="userForm.controls['phoneNumber'].errors.pattern">should be 10 digit and valid
                            number!!!</em>
                    </div>
                </div>

                <div class="form-group">
                    <label for="gendergroup"
                        [class.invalidField]="userForm.controls['roleKey'].invalid && (userForm.controls['roleKey'].touched || userForm.controls['roleKey'].dirty )">Role</label><em>*</em>
                    <select class="form-control" formControlName="roleKey" size="1">
                        <option value=""> --Select one Role--</option>
                        <option *ngFor="let role of rolesList" value="{{role.roleKey}}">
                            {{role.roleName}}
                        </option>
                    </select>
                    <div
                        *ngIf="userForm.controls['roleKey'].invalid && (userForm.controls['roleKey'].touched || userForm.controls['roleKey'].dirty )">
                        <em *ngIf="userForm.controls['roleKey'].errors?.required">Role is required!!!</em>
                    </div>
                </div>

                <div class="form-group">

                    <input type="file" #uploadimage accept=".png, .jpg, .jpeg" style="display: none;"
                        (change)="onImageChange($event)">

                    <label for="UploadImage">Profile Image Upload</label><br>
                    <input type="button" class="btn btn-secondary " id="UploadImage" value="Upload File"
                        (click)="uploadimage.click()">

                </div>
            </div>

        </div>
        <div class="row  justify-content-center">
            <div class="col-8">
                <div class="buttongroup d-flex justify-content-center">
                    <button class="btn btn-primary" [class.button-disable]="userForm.invalid || userNameExists.isExist "
                        [disabled]="userForm.invalid || userNameExists.isExist  "
                        (click)="onSubmitUserForm()">submit</button>&nbsp;&nbsp;
                    <button class="btn btn-success reset" type="submit" (click)="reset()" tooltip="Full Form Reset">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>