/* You can add global styles to this file, and also import other style files */
@body-bg-color:#f5f5f5;
@notify_color:#f5f5f5;
@bg_c_succcess:green;
@bg_c_error:#d90000;
@disabled_color:#616161;
html,body
{
    min-height: 100%;
    font-size: 14px;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.successNotify 
{
    background-color: @bg_c_succcess;
    color: @notify_color;
    margin-top: 65px !important;
    text-align: center;
    
}
.errorNotify 
{
   margin-top: 65px !important;
    background-color:@bg_c_error;
    color: @notify_color;
    text-align: center;
   
}

svg{
width: 20px;
cursor: pointer;
margin-right: 5px;
}



button:disabled
{
    opacity: 0.65;
    cursor: no-drop !important;
    border:none !important;
   background-color: @disabled_color !important;

svg
{
    cursor: no-drop !important;
}
}
