
@status:red;
@tableheader:black;
.row
{
    padding: 15px 0px 10px 0px;
}


table{
  width: 100%;
  max-height: 400px;
}

.status
{
    color :@status;
}

th::ng-deep .mat-sort-header-container {
 
  display:flex;
  justify-content:center;

}

.mat-header-cell
{
  font-weight: 500;
  color: black;
}
.mat-cell,.mat-header-cell 
{
   padding: 4px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   overflow-wrap: break-word;
   word-spacing: normal;
   word-break: break-word;
   width: 10%;
   text-align: center;

}
  // .card
  // {
  //   border: none;
  //   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  //   margin-bottom: 20px;

  // }

 