<div class="container-fluid">
    <div class="row  justify-content-center">

        <h4>ADD QUESTION</h4>
    </div>
    <form [formGroup]="questionForm">
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-6 template text-center">
                <select class="form-control" formControlName="TemplateType">
                    <option value="0">TemplateType</option>
                    <option value="1">Template1</option>
                    <option value="2">Template2</option>
                </select>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 category text-center">
                <select class="form-control" formControlName="CategoryKey">
                    <option vlaue="">Category Type</option>
                    <option *ngFor="let category of categories" value="category.categoryKey">
                        {{category.description}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row question-block">
            <div class=" col-sm-12 col-md-12 col-lg-12 ">
                <quill-editor [placeholder]="editorPlaceholder" [styles]="editorStyle" [modules]="editorModules"
                    formControlName="Description"></quill-editor>
            </div>
        </div>
        {{questionForm.value | json}}
        <div class="row answer-block justify-content-center">
            <div class="col-4 button-block" formArrayName="Options">

                <div *ngFor=" let data of Options.controls, let i=index" class="input-group">
                    <div [formGroupName]="i">



                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button"
                                [ngClass]="{'btn-success': isTemplatechange,'btn-danger':IsAnswer && isSecondTemplate ,'btn-warning': IsAnswer && isFirsttemplate}"
                                (click)="(isSecondTemplate)?data.controls['IsAnswer'].value=!data.controls['IsAnswer'].value:(isFirsttemplate)?firstTemplate(option):null"
                                value="{{i+1}}"
                                tooltip="{{(data.controls['IsAnswer'].value)?'Deselect Option':'Select Right Option'}}">{{i+1}}</button>

                            <input type="text" class="form-control" placeholder="Answer Here" aria-label=""
                                aria-describedby="basic-addon1" formControlName="OptionName">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>