<div class="container-fluid">
    <div class="row justify-content-end ">

        <div class="col-4 text-center">
            <h2>QuestionDetails</h2>
        </div>
        <div class="col-4 cancel-row ">
            <button class="btn btn-danger" (click)="defaultpage()">Cancel</button>
        </div>
    </div>
    <form [formGroup]="questionForm">
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-6 template text-center">
                <select class="form-control" formControlName="templateTypeKey" size="1">
                    <option value=""> --Select one Template--</option>
                    <option *ngFor="let template of templates" value="{{template.templateTypeKey}}">
                        {{template.templateType}}
                    </option>
                </select>
                <!-- <div *ngIf="questionForm.controls.templateTypeKey?.invalid && (questionForm.controls.templateTypeKey.dirty || questionForm.controls.templateTypeKey.touched)"
                    class="alert alert-danger"> Template must be required</div> -->

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 category text-center">
                <select class="form-control" formControlName="categoryKey" size="1">
                    <option value=""> --Select one Category--</option>
                    <option *ngFor="let category of categories" value="{{category.categoryKey}}">
                        {{category.description}}
                    </option>
                </select>
                <!-- <div *ngIf="questionForm.controls.CategoryKey?.invalid && (questionForm.controls.categoryKey.dirty || questionForm.controls.categoryKey.touched)"
                    class="alert alert-danger"> Category must be required</div> -->
            </div>
        </div>
        <div class="row question-block">
            <div class=" col-sm-12 col-md-12 col-lg-12 ">
                <quill-editor [placeholder]="editorPlaceholder" [styles]="editorStyle" [modules]="editorModules"
                    formControlName="question"></quill-editor>
            </div>
        </div>
        <div class="row answer-block justify-content-center">
            <div class="col-4 button-block" formArrayName="options">

                <div *ngFor=" let data of options.controls, let i=index" class="input-group">
                    <div [formGroupName]="i">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary" type="button"
                                [ngClass]="{'btn-success':data.value.isAnswer && (optionsTemplateValue==1 ||  optionsTemplateValue==2)}"
                                value="{{i+1}}"
                                tooltip="{{data.value.isAnswer?'DESELECT OPTION':(questionForm.value.templateTypeKey=='')?'CHOOSE TEMPLATE':'SELECT OPTION'}}"
                                (click)="clickOption(data)" tooltipClass="customClass">{{i+1}}</button>

                            <input type="text" class="form-control" placeholder="Options" aria-label=""
                                aria-describedby="basic-addon1" formControlName="optionName">
                        </div>
                    </div>
                </div>
                <!-- <div [hidden]="AnswerError"  class="alert alert-danger" >
                    Mark Correct Answer Above!!!
                </div> -->
            </div>


        </div>
        <div class="row  justify-content-center">
            <div class="col-3">
                <div class="buttongroup d-flex justify-content-center">
                    <button class="btn btn-primary" [class.button-disable]="questionForm.invalid" type="submit"
                        (click)="questionFormSubmited()" [disabled]="questionForm.invalid">submit</button>&nbsp;
                    <button class="btn btn-success reset" type="submit" (click)="reset()" tooltip="Full Form Reset">
                        <!-- <svg-icon src="assets\Icons\refresh.svg" (click)="navigateQuestionScreen(element.questionKey)">
                    </svg-icon>  -->
                        Reset
                    </button>
                </div>

            </div>

        </div>

    </form>



</div>